@font-face {
  font-family: "Raleway";
  src: url(./assets/Raleway/static/Raleway-Medium.ttf);
}

* {
  font-family: "Raleway", Sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/** Division de la page en séctions grace au grid */
body {
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6% 8% 5% 3% 34% 29% auto;
  grid-template-areas:
    "nav"
    "search"
    "filter"
    "result"
    "sect1"
    "sect2"
    "footer";
}

.bloc:nth-child(1) {
  grid-area: nav;
  display: flex;
}
.bloc:nth-child(2) {
  display: flex;
  grid-area: search;
}
.bloc:nth-child(3) {
  display: flex;
  grid-area: filter;
}
.bloc:nth-child(4) {
  grid-area: result;
}
.bloc:nth-child(5) {
  grid-area: sect1;
}
.bloc:nth-child(6) {
  grid-area: sect2;
}
.bloc:nth-child(7) {
  background: #f2f2f2;
  grid-area: footer;
}

/** Barre de navigation */
.navigation-logo {
  display: flex;
  align-items: center;
}

.navigation-bar {
  display: grid;
  grid-template-columns: 60% auto auto auto;
  padding: 0em 3em 0em 3em;
  width: 100vw;
}

.navigation-bar > a {
  display: flex;
  justify-content: center;
}

header a {
  padding: 3em 0 3em 0;
  border-top: 2px solid white;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}
header a:hover,
header a:active {
  text-decoration: none;
  border-top: 2px solid #0065fc;
  color: #0065fc;
}

#navigation-login {
  color: #0065fc !important;
}

#navigation-login:hover {
  border-top: 2px solid white;
}

/** Barre de recherche */
#search-container {
  padding: 0em 3em 0em 3em;
  background: #fff;
  width: 100vw;
}

.search-icon {
  display: none !important;
}
.search-button--switch {
  display: flex;
}

.search-bar {
  display: flex;
  margin: 2em 0 0em 0;
  align-items: center;
  height: 2em;
  width: 100%;
}

.search-searchfield {
  height: 40px;
  border: 1px solid #f2f2f2;
  text-indent: 10px;
  width: 16vw;
  min-width: 12vw;
}
.search-searchfield::placeholder {
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.search-mapicon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #f2f2f2;
  border-bottom-left-radius: 30%;
  border-top-left-radius: 30%;
}

.search-button {
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0065fc;
  border: none;
  height: 40px;
  width: auto;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  padding: 0 1.5em;
  cursor: pointer;
}

/** Affichache des filtres */
.filters-container {
  padding: 0em 3em 0em 3em;
  background: #fff;
  display: flex;
  grid-gap: 2vw;
  align-items: center;
  justify-content: flex-start;
}

.filter-element--icon {
  background-color: #deebff;
  color: #0065fc;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 3px;
  position: relative;
}

.filter-element {
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  border: 2px solid #d9d9d9;
  cursor: pointer;
  /* *Animation des filtres grâce au shadow */
  box-shadow: 0px 0px 0px 1px #d9d9d9;
  transition: box-shadow 0.5s linear;
}

.filter-element:hover {
  border: 2px solid #0065fc;
  box-shadow: 0px 0px 0px 3px #0065fc;
}

.filter-element--title {
  margin: 0 1rem 0 1rem;
  font-weight: bold;
}

/** Résultat de la recherche */
.result-research {
  display: flex;
  padding: 1em 3em 1em 3em;
  height: 25px;
  align-items: center;
  justify-content: start;
}

.result-research--icon {
  color: #0065fc;
  border-radius: 100%;
  border: 2px solid #f2f2f2;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 7px;
  position: relative;
}

/** Séction Hébergements */

.accomodation-container {
  display: grid;
  padding: 0em 3em 0em 3em;
  grid-template-columns: 66% 33%;
  column-gap: 2rem;
}

.accomodation-container-results {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  align-content: center;
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
}

.accomodation-container-results-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.accomodation-container-results-grid--element {
  display: grid;
  grid-template-rows: 70% 30%;
  width: 100%;
  box-shadow: 0 0 16px #0000002e;
  border-radius: 1.5rem;
  background-color: white;
  color: black;
}

.accomodation-container-results-grid--element
  > .accomodation-container-results-grid--element---image-container {
  padding: 4px 4px 0 4px;
}
.accomodation-container-results-grid--element---image {
  object-fit: cover;
  object-position: center;
  height: 100px;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.accomodation-container-results-grid--element---description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 15px 10px 15px;
}

.starsrate {
  color: #0065fc;
  font-size: 0.7em;
}

.false {
  color: #d9d9d9;
}

/** aside Les plus populaires */
.accomodation-container-populars {
  display: grid;
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
}

.accomodation-container-populars-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
}

.accomodation-container-populars-grid--element {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  box-shadow: 0 0 16px #0000002e;
  border-radius: 1.5rem;
  background-color: white;
  color: black;
}

.accomodation-container-populars-grid--element
  > .accomodation-container-populars-grid--element---image-container {
  padding: 4px 4px 0px 4px;
}
.accomodation-container-populars-grid--element---image {
  object-fit: cover;
  object-position: center;
  height: 9vw;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.accomodation-container-populars-grid--element---description {
  display: grid;
  padding: 15px 15px 5px 15px;
}

/** Section Activités */
#activites > h3 {
  padding: 0 0 1.5em 3em;
}

.activity-container {
  display: grid;
  padding: 0em 8.5em 0em 3em;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "img1 img2 img4 img5"
    "img1 img3 img4 img6";
  column-gap: 2rem;
  row-gap: 2rem;
  height: 70%;
}

.activity--element {
  display: grid;
  grid-template-rows: 79% 21%;
  width: 100%;
  box-shadow: 0 5px 10px 0px #c5c5c544;
  border-radius: 1.5rem;
  background-color: white;
  color: black;
}

.img1,
.img4 {
  display: grid;
  grid-template-rows: 90% 10%;
  width: 100%;
  box-shadow: 0 5px 10px 0px #c5c5c544;
  border-radius: 1.5rem;
  background-color: white;
  color: black;
}

.activity--element---image-src {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}
.img5 {
  grid-area: img5;
}
.img6 {
  grid-area: img6;
}

.activity--element > h4 {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

/** Footer */
footer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  align-items: start;
  margin: 3em 3em 5em 3em;
}

.footer-column {
  display: grid;
  row-gap: 0.6em;
}

.footer-column--link {
  color: black;
}

footer > ul {
  list-style: none;
}

/** Responsive pour tablette */
@media screen and (max-width: 900px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas:
      "nav"
      "search"
      "filter"
      "result"
      "sect1"
      "sect2"
      "footer";
  }

  .bloc:nth-child(1) {
    grid-area: nav;
    display: flex;
  }
  .bloc:nth-child(2) {
    display: flex;
    grid-area: search;
  }
  .bloc:nth-child(3) {
    display: flex;
    grid-area: filter;
  }
  .bloc:nth-child(4) {
    grid-area: result;
  }
  .bloc:nth-child(5) {
    grid-area: sect1;
  }
  .bloc:nth-child(6) {
    grid-area: sect2;
  }
  .bloc:nth-child(7) {
    background: #f2f2f2;
    grid-area: footer;
  }

  /** Barre de navigation-bar */

  .navigation-bar {
    display: grid;
    grid-template-columns: 40% auto auto auto;
    padding: 0em 3em 0em 3em;
    width: 100vw;
  }

  /** Affichage des filtres */
  .filters-container {
    padding: 0em 3em 0em 3em;
    background: #fff;
    display: flex;
    grid-gap: 2vw;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 30px;
  }

  /** Résultat de la recherche */
  .result-research {
    display: flex;
    padding: 0em 3em 3em 3em;
    height: 25px;
    align-items: center;
    justify-content: start;
  }

  /** Séction Hébergements */
  .accomodation-container {
    display: grid;
    padding: 0em 3em 3em 3em;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "pop"
      "heb";
    row-gap: 2rem;
  }

  .accomodation-container-results {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 1.5rem;
    grid-area: heb;
  }

  .accomodation-container-results-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
  }

  .accomodation-container-results-grid--element---image {
    object-fit: cover;
    object-position: center;
    height: 15vw;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }

  /** aside Les plus populaires */
  .accomodation-container-populars {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 1.5rem;
    grid-area: pop;
  }

  .accomodation-container-populars-grid--element---image {
    object-fit: cover;
    object-position: center;
    height: 17vw;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }

  /** Footer */
  footer {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    width: 100%;
    justify-content: space-around;
    align-items: start;
    margin: 3em 3em 5em 3em;
  }
}

/** Responsive pour smartphone */
@media screen and (max-width: 730px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas:
      "nav"
      "search"
      "filter"
      "result"
      "sect1"
      "sect2"
      "footer";
  }

  .bloc:nth-child(1) {
    grid-area: nav;
    display: grid;
  }
  .bloc:nth-child(2) {
    display: flex;
    grid-area: search;
  }
  .bloc:nth-child(3) {
    display: flex;
    grid-area: filter;
  }
  .bloc:nth-child(4) {
    grid-area: result;
  }
  .bloc:nth-child(5) {
    grid-area: sect1;
  }
  .bloc:nth-child(6) {
    grid-area: sect2;
  }
  .bloc:nth-child(7) {
    background: #f2f2f2;
    grid-area: footer;
  }

  /** Barre de navigation */

  .navigation-bar {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "logo login"
      "link link";
    padding: 1em 0 0 0;
    width: 100vw;
  }

  .navigation-logo {
    display: flex;
    align-items: center;
    padding-left: 1.5em;
    grid-area: logo;
  }

  .navigation-bar.navigation-link {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-area: link;
  }

  header a {
    flex-wrap: wrap;
    padding: 1.5em 0 1em 0;
    border-top: none;
    border-bottom: 3px solid white;
  }

  a:link,
  a:visited {
    text-decoration: none;
    color: black;
  }
  header a:hover,
  header a:active {
    text-decoration: none;
    border-top: none;
    border-bottom: 3px solid #0065fc;
    color: #0065fc;
  }

  #navigation-login {
    display: flex;
    justify-content: flex-end;
    color: #0065fc !important;
    padding-right: 1.5em;
    margin-top: 0.5em;
    grid-area: login;
  }

  #navigation-login:hover {
    border-bottom: 3px solid white;
    border-top: none;
  }

  /** Barre de recherche */
  #search-container {
    padding: 1.5em 1em 0em 1.5em;
    background: #fff;
    width: 100vw;
  }

  .search-bar {
    display: flex;
    justify-content: stretch;
    height: auto;
    width: 100%;
    margin: 2em 0 0 0;
  }

  .search-searchfield {
    height: 50px;
    border: 1px solid #f2f2f2;
    text-indent: 10px;
    width: 100%;
  }
  .search-searchfield::placeholder {
    font-size: 14px;
    font-weight: 700;
    color: black;
  }

  .search-mapicon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 65px;
    background-color: #f2f2f2;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
  }

  .search-button {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0065fc;
    border: none;
    height: 50px;
    width: 50px;
    position: relative;
    right: 10px;
    border-radius: 1em;
    cursor: pointer;
  }

  .search-icon {
    display: flex !important;
  }

  .search-button--switch {
    display: none;
  }

  /** Affichage des filtres */
  .filters-container {
    padding: 0em 1.5em 0em 1.5em;
    background: #fff;
    width: 100vw;
    display: flex;
    grid-gap: 2vw;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .filters-container > h3 {
    width: 100%;
  }
  /** Résultat de la recherche */
  .result-research {
    display: flex;
    padding: 0em 1.5em 3em 1.5em;
    height: 25px;
    align-items: center;
    justify-content: start;
    width: 100vw;
  }

  /** Séction Hébergements */
  .accomodation-container {
    display: grid;
    padding: 0em 0em 0em 0em;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "pop"
      "heb";
    row-gap: 2rem;
  }

  .accomodation-container-results {
    display: grid;
    padding: 1.5rem;
    width: 100vw;
    background-color: white;
    border-radius: 0;
    grid-area: heb;
  }

  .accomodation-container-results-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2rem;
  }

  .accomodation-container-results-grid--element---image {
    object-fit: cover;
    object-position: center;
    height: 17vh;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }

  /** aside Les plus populaires */
  .accomodation-container-populars {
    display: grid;
    padding: 1.5rem;
    width: 100vw;
    background-color: #f2f2f2;
    border-radius: 0;
    grid-area: pop;
  }

  .accomodation-container-populars-grid--element---image {
    object-fit: cover;
    object-position: center;
    height: 23vh;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }

  /** Section Activités */
  #activites > h3 {
    padding: 1.5em 1.5em 2em 1.5em;
  }

  .activity-container {
    display: flex;
    padding: 0em 1.5em 3em 1.5em;
    flex-wrap: wrap;
    width: 100vw;
    row-gap: 2rem;
  }

  .activity--element {
    display: grid;
    grid-template-rows: 70% 30%;
    width: 100%;
    box-shadow: 0 5px 10px 0px #c5c5c544;
    border-radius: 1.5rem;
    background-color: white;
    color: black;
  }

  .activity--element---image-src {
    object-fit: cover;
    object-position: center;
    height: 23vh;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }

  /** Footer */
  footer {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    grid-row-gap: 2em;
    justify-content: left;
    align-items: start;
    margin: 3em 3em 5em 2em;
  }

  .footer-column > br {
    display: none;
  }
}
