@font-face {
  font-family: "Raleway";
  src: url(./assets/Raleway/static/Raleway-Medium.ttf);
}

* {
  font-family: "Raleway", Sans-serif;
}

/* Division de la page en séctions grace au grid */
body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 20% 10% 40% 30% 10%;
  grid-template-areas:
    "nav"
    "search"
    "filter"
    "sect1"
    "sect2"
    "footer";
}

.bloc:nth-child(1) {
  grid-area: nav;
  display: flex;
}
.bloc:nth-child(2) {
  display: flex;
  grid-area: search;
}
.bloc:nth-child(3) {
  display: flex;
  grid-area: filter;
}
.bloc:nth-child(4) {
  background: blue;
  grid-area: sect1;
}
.bloc:nth-child(5) {
  background: red;
  grid-area: sect2;
}
.bloc:nth-child(6) {
  background: darksalmon;
  grid-area: footer;
}

/* Pour modifier le format de la page en fonction de la résolution */
/* @media screen and (max-width: 800px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 8% 8% 38% 30% 11%;
    grid-template-areas:
      "nav"
      "search"
      "filter"
      "sect1"
      "sect2"
      "footer";
  }
  .bloc:nth-child(4) {
    background: blue;
    grid-area: sect1;
  }
  .bloc:nth-child(5) {
    background: red;
    grid-area: sect2;
  }
} */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Barre de menu */
nav {
  width: 100%;
  background: #fff;
  position: absolute;
  padding: 1em 3em 1em 3em;
  border-top: 2px solid white;
}

.headernavlink {
  padding-top: 24.5px;
}

.nav-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 5vh;
}

.nav-links a:visited,
a:link {
  color: black;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-links li {
  padding: 2rem;
}

.nav-links a:hover,
a:active {
  text-decoration: none;
  border-top: 2px solid #0065fc;
  color: #0065fc;
}

/* Barre de recherche */
#search {
  padding: 0em 3em 0em 3em;
  background: #fff;
}

.searchbar {
  display: flex;
  align-items: center;
  height: 2em;
  width: 70%;
}

.searchfield {
  height: 40px;
  border: 1px solid #f2f2f2;
  text-indent: 10px;
}
.searchfield::placeholder {
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.mapicon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #f2f2f2;
  border-bottom-left-radius: 30%;
  border-top-left-radius: 30%;
}

.searchbutton {
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0065fc;
  border: none;
  height: 40px;
  width: auto;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  padding: 0 1.5em;
  cursor: pointer;
}

/* Affichache des filtres */
.filters {
  padding: 0em 3em 0em 3em;
  background: #fff;
  display: flex;
  grid-gap: 2vw;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
  margin-top: 30px;
}

.filticon {
  background-color: #deebff;
  color: #0065fc;
  border-radius: 100%;
  height: 3.25rem;
  width: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}

.filtcontainer {
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  border: 2px solid #d9d9d9;
}

.ftitle {
  margin: 0 1rem 0 1rem;
  font-weight: bold;
}

/* Résultat de la recherche */
.resultsearch {
  display: flex;
  padding: 1em 3em 1em 3em;
  grid-gap: 2vw;
}

.infoicon {
  color: #0065fc;
  border-radius: 100%;
  border: 2px solid #f2f2f2;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -8px;
}

/* Séction Hébergements */
